.search_engine{
   font-family: Lato;
   font-weight: 600;
   font-size: 19px;
   line-height: 13px;
   color: #123054;
     margin-top: 6%;
   }

   .start_head{
    padding: 8px;
       color:  #123054;
       text-align: center;
   }
   .start_para{
       display: flex;
       align-items: center;
       justify-content: center;
   
   }
   .right_para{
    text-align: end;
   }
   .right_head{
    text-align: end;
   }
   .categories_left_side {
    display: flex;
    gap: 2px;
  }
  .icon-style{
    background-color: #233C54;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

  }
   
  .start_img{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   @media screen and (max-width:768px) {
       .start_para{
           padding: 0 30px 0 30px;
       }
     }