* {
  border: none;
  padding: none;
  box-sizing: border-box;
}
.home-container{
  padding-top: 3%;
}

.home_style {
  font-family: Lato;
  font-size: 64px;
  padding: 18px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: 0em;
  color: #312b2b;
  margin-top: 30px;
}

.home_stylish {
  font-family: Lato;
  font-size: 17px;
  padding: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #312b2b;
}
.animatiom-image{
  margin-left: auto;
}

.animatiom-image img{
  width: 100%;
}
.image-section {
  --childs: 3;
  --gap: 10px;
  display: flex;
  gap: var(--gap);
  justify-content: flex-end;
}

.box {
  width: calc((100% / var(--childs)));
  height: 12cm;
  background-color: white;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  transition: width 300ms 50ms ease-in-out;
}

.box:hover,
.box.hovered {
  width: calc((100% / (var(--childs) - 2)));
  width: 50%;
}
.box-1 {
  background-image: url("../Images/Rectangle 2.png");
  width: 19%;
}

.box-2 {
  background-image: url("../Images/Group\ 340.png");
  width: 19%;
}

.box-3 {
  background-image: url("../Images/Group 3411.png");
  width: 19%;
}



.store_btn {
  width: 175px;
  height: 57px;
  border-radius: 40px;
  background-color:#345473;
  border: none;
  color:white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}
.store_btn:hover{
  background-color:white;
  color:black;
  
}
.Play_btn {
  width: 175px;
  height: 57px;
  border-radius: 40px;
  background-color:white;
  border: none;
  color:black;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}
.Play_btn:hover{
  background-color:#345473;
  color: white;
  
}
.button-group{
  display: flex;
  gap: 20px;
}
.hovered {
  background-color: white;
  color:black;

}
@media (max-width: 1192px) {
  .animatiom-image{
    width: 100%;
    display: block;
    padding: 0;
    }
    .home_style {
     font-family: Lato;
     font-size: 60px;
     padding: 30px;
     font-weight: 500;
     line-height: 70px;
     letter-spacing: 0em;
     color: #312b2b;
   }

   
   .home_stylish {
     font-family: Lato;
     font-size: 25px;
     font-weight: 400;
     line-height: 40px;
     letter-spacing: 0em;
     padding: 30px;

     color: #312b2b;
   }
   .home-container{
     padding-top: 20px;
   }
   .button-group{
     display: flex;
     margin: 15px;
   }
   .animatiom-image img{
    width: 100%;
    margin: auto;
   }
   .image-section {
    --childs: 3;
    --gap: 10px;
    display: flex;
    gap: var(--gap);
    justify-content: center;
  }
 
}
   @media (max-width: 992px) {
    .animatiom-image{
      width: 100%;
      display: block;
      }
      .home_style {
       font-family: Lato;
       font-size: 50px;
       padding: 20px;
       font-weight: 500;
       line-height: 70px;
       letter-spacing: 0em;
       color: #312b2b;
     }
     
     .home_stylish {
       font-family: Lato;
       font-size: 19px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0em;
       padding: 20px;

       color: #312b2b;
     }
     .home-container{
       padding-top: 20px;
     }
     .button-group{
       display: flex;
       margin: 15px;
     }
     .animatiom-image img{
      width: 100%;
      margin: auto;
     }
    
  } 

   @media (max-width: 767.98px) {

  } 

   @media (max-width: 575px) {

    .animatiom-image{
       width: 100%;
       display: block;
       }
       .home_style {
        font-family: Lato;
        font-size: 40px;
        padding: 20px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        color: #312b2b;
        margin-top: 10px;
      }
      
      .home_stylish {
        font-family: Lato;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        padding: 20px;

        color: #312b2b;
      }
      .home-container{
        padding-top: 0px;
      }
      .button-group{
        display: flex;
        margin: 15px;
      }
      .animatiom-image img{
        display: none;
      }
      .image-section {
        --childs: 3;
        --gap: 10px;
        display: flex;
        gap: var(--gap);
        justify-content: center;
      }

      .App_btn {
        width: 175px;
        height: 57px;
        border-radius: 40px;
        background-color:#345473;
        border: none;
        color:white;
        font-family: Lato;
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
      }
      .App_btn:hover{
        background-color:white;
        color:black;
        
      }
      .Play_btn {
        width: 175px;
        height: 57px;
        border-radius: 40px;
        background-color:white;
        border: none;
        color:black;
        font-family: Lato;
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
      }
      .Play_btn:hover{
        background-color:#345473;
        color: white;
        
      }

  } 
